@charset "utf-8";

/* Page Elements */


img
{  
	border-style: none;
}

body
{ 
	background: #000000;
}

#page-home {	
	position: absolute; 
	left: 50%;
	margin-left: -500px;	
	width: 1000px;
	height: 650px;
	background: url(../images/backgrounds/background-home.jpg) no-repeat center;
}

#page-biography {	
	position: absolute; 
	left: 50%;
	margin-left: -500px;	
	width: 1000px;
	height: 650px;
	background: url(../images/backgrounds/background-page.jpg) no-repeat center;
}

#page-biography .bodytext a {
	color: #D6B6EA;
	text-decoration: none;
}

#page-biography .bodytext a:hover, 
#page-biography .bodytext a:visited {
	color: #ADA5FF;
}

#page-calendar {	
	position: absolute; 
	left: 50%;
	margin-left: -500px;	
	width: 1000px;
	height: 650px;
	background: url(../images/backgrounds/background-page2.jpg) no-repeat center;
}

#page-news-press {	
	position: absolute; 
	left: 50%;
	margin-left: -500px;	
	width: 1000px;
	height: 650px;
	background: url(../images/backgrounds/background-page3.jpg) no-repeat center;
}

#page-media {	
	position: absolute; 
	left: 50%;
	margin-left: -500px;	
	width: 1000px;
	height: 650px;
	background: url(../images/backgrounds/background-media.jpg) no-repeat center;
}

#page-media .bodytext a {
	color: #D6B6EA;
	text-decoration: none;
}

#page-media .bodytext a:hover, 
#page-media .bodytext a:visited {
	color: #ADA5FF;
}

#page-media .vidEmbed {
	margin-bottom: 35px;
}

#page-media .vidEmbed .title {
	font-size: 18px;
}

#page-photos {	
	position: absolute; 
	left: 50%;
	margin-left: -500px;	
	width: 1000px;
	height: 650px;
	background: url(../images/backgrounds/background-page4.jpg) no-repeat center;
}

#page-photos #phototable a {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #D6B6EA;
	text-decoration: none;
}

#page-photos #phototable a:hover,
#page-photos #phototable a:visited {
	color: #ADA5FF;
}

#page-contact {	
	position: absolute; 
	left: 50%;
	margin-left: -500px;	
	width: 1000px;
	height: 650px;
	background: url(../images/backgrounds/background-page.jpg) no-repeat center;
}

#pdf {
	margin: 25px 0px 0px 225px;
}

#textbox-biography {
	width: 400px;
	height: 478px;
	margin: 25px 0px 0px 200px;
	background: rgb(46, 46, 46);
	/*background: url(../images/music/003-trans.gif) no-repeat;*/
}

#textbox-photos {
	width: 510px;
	height: 575px;
	overflow: auto;
	margin: 58px 0px 0px 115px;
	background: url(../images/backgrounds/text-box.jpg) repeat;
}

#textbox-media {
	margin: 75px 0px 0px 225px;
	padding-top: 10px;
	padding-left: 20px;
	background: url(../images/backgrounds/video-box.png) repeat;
	width: 580px;
	height: 450px;
	overflow: auto;	
}

#textbox-calendar {
	width: 400px;
	height: 478px;
	margin: 25px 0px 0px 550px;
	background: url(../images/music/005-trans.gif) no-repeat;
}

#textbox-news-press {
	width: 400px;
	height: 478px;
	margin: 25px 0px 0px 100px;
	background: url(../images/music/007-trans.gif) no-repeat;
}

#textbox-testimonials {
	width: 400px;
	height: 478px;
	margin: 25px 0px 0px 100px;
	background: url(../images/music/006-trans.gif) no-repeat;
}

#textbox-contact {
	width: 400px;
	height: 478px;
	margin: 25px 0px 0px 100px;
	background: url(../images/music/001-trans.gif) no-repeat;
}

#textbox-contact p {	
	margin-left: 20px; 
	margin-right: 20px; 
}

#header-textbox {
	margin-left: 20px; 
	margin-right: 20px; 
}

/* Custom Scroller */

#customScrollBox{
	position:relative; 
	height:400px; 
	overflow:hidden;
}

#customScrollBox .container {
	position:relative; 
	width:375px; 
	top:0; 	 
	float:left;
}

#customScrollBox .content {
	clear:both;
}

#customScrollBox .content p {	
	margin-left: 20px; 
	margin-right: 20px; 
	text-align:justify;
}
#customScrollBox img {
	border:1px solid #fff;
}
#dragger_container {
	position:relative; 
	width:0px; 
	height:380px; 
	float:left; 
	margin:20px 0 0 0px; 
	border-right:1px solid #fff;
}

#dragger {
	position:absolute; 
	width:19px; 
	height:41px; 
	background:url(../images/scrollbar/custom_scrollbar_bg.png) no-repeat center center;
}

/* Flowplayer */
 
a.player {	
	display:block;
	width:350px;
	height:300px;
	text-align:center;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	background:#000 url(../images/flowplayer/h500.png) repeat-x 0 0;
	background:-moz-linear-gradient(top, rgba(55, 102, 152, 0.9), rgba(6, 6, 6, 0.9));
	-moz-box-shadow:0 0 40px rgba(100, 118, 173, 0.5);
}
 
a.player:hover {
	background:-moz-linear-gradient(center top, rgba(73, 122, 173, 0.898), rgba(6, 6, 6, 0.898));
}
 
/* splash image */
a.player img {
	border:0;	
}

#player {
	margin: 0 0 0 100px;		
}

#logo {
	margin: 25px 0px 0px 0px;
	width: 200px;
	height: 50px;
	border: 0;
}

#header {
	margin: 0 auto; 
	width: 1400px;
	border: 0;
}

#footer {
	margin: 0 auto; 
	margin-top: 675px;
	width: 1000px;
	border: 0;
}

#biography {
	position: absolute;
	z-index:  2;
	margin: 300px 0px 0px 288px;
}

#biography img {
	border: 0;
	cursor:pointer;
}

#calendar {
	position: absolute;
	z-index:  2;
	margin: 300px 0px 0px 390px;
}

#calendar img {
	border: 0;
	cursor:pointer;
}

#news-press {
	position: absolute;
	z-index:  2;
	margin: 555px 0px 0px 200px;
}

#news-press img {
	border: 0;
	cursor:pointer;
}

#media {
	position: absolute;
	z-index:  2;
	margin: 555px 0px 0px 290px;
}

#media img {
	border: 0;
	cursor:pointer;
}

#photos {
	position: absolute;
	z-index:  2;
	margin: 555px 0px 0px 425px;
}

#photos img { 
	border: 0;
	cursor:pointer;
}

#contact {
	position: absolute;
	z-index:  2;
	margin: 535px 0px 0px 500px;
}

#contact img {
	border: 0;
	cursor:pointer;
}

/* Tooltip  */

.tooltip {
	display:none;
	background:transparent url(../images/black_arrow.png);
	font-size:13px;
	line-height: 3em;
	height:50px;	
	width:100px;
	text-align: center;
	color:#fff;	
}
 
/* Top Navigation */

 .kwicks {  
     position: relative; 
	 z-index:  2;
     list-style: none;  
	 margin: 0px 0px 0px 100px; 
     padding: 0; 
	 /*background-image:url(../images/kwicks/no_flicker.jpg); some browsers are to slow when aligning the menu items via jQuery and so the background shines through, this prevents this flickering*/

 }  
 .kwicks li{  
	display: block;  
    overflow: hidden;  
    padding: 0;  
    cursor: pointer;  
	float: left;
	width: 125px;
	height: 40px;
	margin-right: 0px;
	background-image:url(../images/kwicks/kwicks_sprite.png);
	background-repeat:no-repeat;
}

.kwicks a{
	display:block;
	height:40px;
	text-indent:-9999px;
	outline:none;
}

#kwick1 {
	background-position:0px 0px;
}

#kwick2 {
	background-position:-200px 0px;
}

#kwick3 {
	background-position:-400px 0px;
}

#kwick4 { 
	background-position:-600px 0px;
}

#kwick5 { 
	background-position:-800px 0px;
}

#kwick6 { 
	background-position:-1000px 0px;
}

#kwick7 { 
	background-position:-1200px 0px;
}

#kwick1.active, #kwick1:hover { 
	background-position: 0 bottom;
}

#kwick2.active, #kwick2:hover{
	background-position: -200px bottom;
}

#kwick3.active, #kwick3:hover {
	background-position: -400px bottom;
}

#kwick4.active, #kwick4:hover {
	background-position: -600px bottom; 
}

#kwick5.active, #kwick5:hover {
	background-position: -800px bottom;
}

#kwick6.active, #kwick6:hover {
	background-position: -1000px bottom; 
}
#kwick7.active, #kwick7:hover {
	background-position: -1200px bottom; 
}

#kwick1 a{
	background-image:url(end.jpg);
	background-repeat:no-repeat;
	background-position: left 0px;
}

#kwick1 a:hover{
	background-position: left -80px;
}

#kwick7 a{
	background-image:url(end.jpg);
	background-repeat:no-repeat;
	background-position: right -40px;
}
#kwick7 a:hover{
	background-position: right -120px;
}

/* Lightbox Gallery */

#gallery1 {
}
#gallery2 {
}
#gallery3 {
}
#gallery4 {
}
#gallery5 {
}
#gallery6 {
}
#gallery7 {
}
#gallery8 {
}

/* lightbox */

#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 350px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;

	top: 40%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #000; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 90%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}

/*Text*/

.pagesubheading {
	font-family: "Verdana";
	font-weight: bold;
	font-size: 13pt;
	color: #FFFFFF;
	letter-spacing: 0.02em;
	line-height: 3.5em;
}

.bodytext {
	font-size: 10pt;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #FFFFFF;
	line-height:1.3em;
}

h3.bodytext {
	font-size: 14px;
}

.bolder {
	font-size: 10pt;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	line-height:1.3em;
}

.required {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 8.5pt;
	color: #FF0000;
	text-align:justify;
}
.footernavtext {
	font-family: "Verdana";
	font-weight: bold;
	font-size: 7pt;
	color: #FFFFFF;
	letter-spacing: 0.02em;
}
.formfieldtext {
	font-family: "Verdana";
	font-size: 8pt;
	color: #000000;
}

/*Tables*/

#formtable { 
	width: 380px;
	margin-left: 20px; 
	border: 0;
	cellpadding: 0;
	cellspacing: 2;
}

#footernavtable { 
	width: 1000px;
}

#phototable { 
	text-align: center;
	width: 360px;
	margin-left: 20px; 
}

#footernavtable a:link {color:#1B8CEC;text-decoration:underline;}
#footernavtable a:hover {color:#FF0000;text-decoration:underline;}
#footernavtable a:visited {color:#FF0000;text-decoration:none;}
#phototable a:link {color:#0000FF;text-decoration:underline;}
#phototable a:hover {color:#FF0000;text-decoration:underline;}
#phototable a:visited {color:#FF0000;text-decoration:none;}
#pdftable a:link {color:#0000FF;text-decoration:underline;}
#pdftable a:hover {color:#FF0000;text-decoration:underline;}
#pdftable a:visited {color:#FF0000;text-decoration:none;}

A:link {color:#0000FF;text-decoration:underline;}
A:hover {color:#FF0000; text-decoration:underline;}
A:visited {color:#FF0000;text-decoration:none;}
